div {
    background-color: grey;
}

p, h1 {
    background-color: black;
    color: white;
}

button {
    background-color: rgb(231, 221, 82);
    margin-left: 10px;
}

form {
    margin-left: 10px;
}